

div.center{
    text-align: center;
}


ol{
    display: inline-block;
    text-align: left;
    
}

ul{
    display: inline-block;
    text-align: left;
}

ul.outline{
    outline: 3px solid red;
    border-radius: 10px;
    padding: 20px;
}